version: '3.3'
services:
  php:
    image: php:8.0-apache
    ports:
      - 8080:80
    volumes:
      - .:/var/www/html
    build: 
      context: .
      dockerfile: Dockerfile
    env_file: .env
  
  db:
    image: postgres:14.2
    env_file: .env

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@test.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - 8081:80