version: '3.3'
services:
  php:
    image: php:8.0-apache
    ports:
      - 8080:80
    volumes:
      - .:/var/www/html
    build: 
      context: .
      dockerfile: Dockerfile

  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - ./psql:/var/lib/postgresql/data

volumes:
  db:
    driver: local