.upload-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.upload-rectangle {
    width: 497px;
    height: 412.387px;
    flex-shrink: 0;
    border-radius: 55.04px;
    background: #1F1F1F;
    position: relative;
}

.upload-text-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 76px;
    height: 76px;
    cursor: pointer;
}

.upload-rectangle button:hover {
    background-color: #C7C7C7;;
}

.create-input-box {
    width: 450px;
    height: 37px;
    border-radius: 10px;
    color: white;
    background: #1F1F1F;
    border: none;
}

.upload-input {
    padding: 25px;
}

.create-bar {
    background: #1F1F1F;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;
}

.desc-box {
    width: 450px;
    height: 149px;
    border-radius: 10px;
    background: #1F1F1F;
    border: none;
    display: flex;
    align-items: start;
    color: white;
}

.publish {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}