.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 1%;
}

.upload-rectangle {
    width: 497px;
    height: 412.387px;
    flex-shrink: 0;
    border-radius: 55.04px;
    background: #1F1F1F;
    position: relative;
}

.upload-text-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 76px;
    height: 76px;
    cursor: pointer;
}

.upload-rectangle button:hover {
    background-color: #C7C7C7;;
}

.create-input-box {
    width: 450px;
    height: 37px;
    border-radius: 10px;
    color: white;
    background: #1F1F1F;
    border: none;
    font-size: 10px;
}

.upload-input {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-bar {
    background: #1F1F1F;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;
}

.desc-box {
    width: 450px;
    height: 149px;
    border-radius: 10px;
    background: #1F1F1F;
    border: none;
    display: flex;
    align-items: start;
    color: white;
    font-size: 10px;
}

.publish {
    display: flex;
    justify-content: end;
    margin-right: 7%;
}

select option:hover {
    background: #525252;
}

.publish-button {
    display: flex;
    justify-content: end;
    flex: end;
    margin-top: 10%;
}

.old-upload-button {
    display: none;
}

.upload-circle {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    fill: #FFF;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.upload-circle:hover {
    background: #C7C7C7;
}

.upload-circle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-container {
    display: flex;
    align-items: center;
    width: 497px;
    height: 412.387px;
    flex-shrink: 0;
    border-radius: 55.04px;
    background: #1F1F1F;
    padding: 10px;
}

.post-image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
.post-image img,
.post-image video {
    border-radius: 55.04px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    padding: 10px;
}

.upload-template {
    width: 497px;
    height: 412.387px;
    border-radius: 55.04px;
    background: #1F1F1F;
    position: relative;
    display: flex;
}

.disabled-button {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    pointer-events: none; 
}
