body {
    background-color: black;
}

.text-1 {
    color: #FFF;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-2 {
    color: #FFF;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-picture {
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    background-color: #77D4F8;
    border-radius: 50%;
}

.logo {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}

.logo:hover {
    opacity:0.5;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}