.topnav {
    background-color: black;
    width: 90vw;
    height: 75px;
    display: grid;
    grid-template-areas:
        'logo search profile'
        'filter filter filter';
    z-index: 1;
    place-items: center;
    margin-left: 4vw;
    padding-top: 25px;
}

.logo_section {
    grid-area: logo;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.navtitle {
    display: block;
}

.search_section {
    grid-area: search;
}

.submit_button {
    display: none;
}

.profile_section {
    grid-area: profile;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.input-box {
    grid-area: filter;
    position: absolute;
}

.app-logo {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.nav_buttons_container {
    margin: 20px;
    margin-top: 15px;
    justify-content: space-between;
}

.home-button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    vertical-align: middle;
}

.home-button:hover {
    background-color: gray;
}

.post-button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    vertical-align: middle;
}

.post-button:hover {
    background-color: gray;
}

.topnav-padding {
    padding: 10 10px 0 10px;
}

.profile-button {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}

.search-bar {
    width: 60vw;
    width: 60vw;
    height: 37px;
    border-radius: 30px;
    background: #1F1F1F;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    z-index: 1;
    margin-top: 5px;
}

.search-box {
    width: 75%;
    padding: 1rem;
    padding-right: 2rem;
}

.search_symbol {
    padding-left: 1rem;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: white;
}

/* for inputs */
.input-box {
    width: 60vw;
    height: 37px;
    display: none;
    color: white;
    margin-top: 40px;
    z-index: 1;
}

.filter-sort {
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 20px;
}

.expandable {
    display: flex;
    justify-content: space-between;
}

.filter_category {
    display: flex;
    gap: 20px;
}

.filter-dropdown {
    width: 600px;
    height: 35px;
    margin-top: 0.75vw;
    background-color: #D9D9D9;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.uploaded {
    display: flex;
    gap: 20px;
}

.filter-radio {
    margin-top: 20px;
}

.dropdown_symbol {
    width: 26px;
    height: 26px;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
}

.dropdown_symbol:hover {
    background-color: gray;
}

h3 {
    vertical-align: middle;
}

.expandable2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting {
    display: flex;
    gap: 20px;
}

.sort-radio {
    margin-top: 20px;
}

.search_button {
    width: 120px;
    height: 50px;
    background-color: #77D4F8;
    border-radius: 30px;
    color: white;
    margin-top: 2vw;
    font-size: 15px;
}

.settings-dropdown {
    background: transparent;
    border: none;
    cursor: pointer;
}

.menusdropdown {
    display: none;
    position: absolute;
    background-color: #1F1F1F;
    overflow: auto;
    z-index: 1;
    border-radius: 15px;
}

.menusdropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.warn-show {
    display: block;
    color: red;
    font-size: 14px;
    position: absolute;
}

.warn-hide {
    display: none;
}

/* for responsivity */
@media screen and (max-width: 1550px) {
    .expandable {
        display: grid;
        gap: 0px;
    }
}

@media screen and (max-width: 1190px) {
    .filter-dropdown {
        width: 400px;
    }
}

@media screen and (max-width: 1008px) {
    .filter-dropdown {
        width: 200px;
    }
    
    .home-button{
        display: none;
    }
}

@media screen and (max-width: 758px) {
    .search-bar {
        width: 35vw;
    }

    .filter_category {
        display: grid;
        gap: 0px;
    }

    .expandable2 {
        display: grid;
    }

    .filter-dropdown {
        width: 150px;
    }

    .uploaded {
        display: grid;
        gap: 0px;
    }

    .filter-radio {
        margin-top: 0px;
    }

    .sorting {
        display: grid;
        gap: 0px;
    }

    .sort-radio {
        margin-top: 0px;
    }

    .input-box {
        width: 35vw;
    }
}

@media screen and (max-width: 530px) {
    .topnav {
        height: 150px;
        display: grid;
        grid-template-areas:
        'logo profile'
        'search search';
        padding-top: 25px;
        padding-left: 20px;
        margin: 0vw;
    }

    .search-bar {
        width: 75vw;
    }

    .search_section {
        top: -10px;
    }

    .input-box {
        width: 75vw;
    }
    
    .search-box {
        padding-left: 4px;
    }

    .filter-dropdown {
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .navtitle {
        display: none;
    }
}