.topnav {
    background-color: black;
    width: 95vw;
    height: 75px;
    margin: 1vw;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.home-button {
    margin: 1vw;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.topnav-padding {
    padding: 10 10px 0 10px;
}

.search-bar {
    width: 60vw;
    height: 37px;
    margin: 1vw;
    flex-shrink: 0;
    border-radius: 30px;
    background: #1F1F1F;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
}

.search-bar::placeholder {
    padding-left: 15px;
}

.search_symbol {
    padding-left: 15px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    color: white;
}

.hidden_user_inputs {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    color: white;
}

.input-box {
    position: absolute;
    left: 50%;
    margin-top: 1vw;
    transform: translate(-50%, 0);
    background-color: transparent;
    justify-content: center;
}

.filter-sort {
    background-color: #1F1F1F;
    border-radius: 15px;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.expandable {
    display: flex;
    gap: 7vw;
}

.filter_category {
    display: flex;
    gap: 20px;
}

.filter-dropdown {
    width: 35vw;
    height: 2vw;
    margin-top: 15px;
    background-color: #D9D9D9;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1vw;
}

.uploaded {
    display: flex;
    gap: 20px;
}

.filter-radio {
    margin-top: 20px;
}

.dropdown_symbol {
    margin: 1vw;
}

h3 {
    vertical-align: middle;
}

.expandable2 {
    display: flex;
    gap: 40vw;
}

.sorting {
    display: flex;
    gap: 20px;
}

.sort-radio {
    margin-top: 20px;
}

.search_button {
    width: 6vw;
    height: 3vw;
    background-color: #77D4F8;
    border-radius: 30px;
    color: white;
    margin-top: 2vw;
    font-size: 1vw;
}

@media (min-width: 800px) and (max-width: 1240px) {
    .topnav {
        width: 98vw;
    }
}