.topnav {
    background-color: black;
    width: 90vw;
    height: 75px;
    margin: 0 auto;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-button {
    margin: 1vw;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.topnav-padding {
    padding: 10 10px 0 10px;
}

.home-button {
    margin: 1vw;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.temp {
    margin-top: 3px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.search-bar {
    width: 60vw;
    width: 60vw;
    height: 37px;
    border-radius: 30px;
    background: #1F1F1F;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    z-index: 1;
}

.search-box {
    width: 75%;
}

.search_symbol {
    padding-left: 10px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: white;
}

/* for inputs */
.input-box {
    width: 60vw;
    height: 37px;
    display: none;
    z-index: 1;
    color: white;
}

.filter-sort {
    background-color: #1F1F1F;
    border-radius: 15px;
    padding: 20px;
}

.expandable {
    display: flex;
    justify-content: space-between;
}

.filter_category {
    display: flex;
    gap: 20px;
}

.filter-dropdown {
    width: 600px;
    height: 35px;
    margin-top: 0.75vw;
    background-color: #D9D9D9;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.uploaded {
    display: flex;
    gap: 20px;
}

.filter-radio {
    margin-top: 20px;
}

.dropdown_symbol {
    margin: 1vw;
    border: 1px;
}

h3 {
    vertical-align: middle;
}

.expandable2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting {
    display: flex;
    gap: 20px;
}

.sort-radio {
    margin-top: 20px;
}

.search_button {
    width: 120px;
    height: 50px;
    background-color: #77D4F8;
    border-radius: 30px;
    color: white;
    margin-top: 2vw;
    font-size: 15px;
}

/* for responsivity */
@media screen and (max-width: 1550px) {
    .expandable {
        display: grid;
        gap: 0px;
    }
}

@media screen and (max-width: 1190px) {
    .filter-dropdown {
        width: 400px;
    }
}

@media screen and (max-width: 930px) {
    .filter-dropdown {
        width: 200px;
    }
}

@media screen and (max-width: 750px) {
    .home-button{
        display: none;
    }
}

@media screen and (max-width: 567px) {
    .search-bar {
        width: 40vw;
    }

    .filter_category {
        display: grid;
        gap: 0px;
    }

    .expandable2 {
        display: grid;
    }

    .filter-dropdown {
        width: 150px;
    }

    .uploaded {
        display: grid;
        gap: 0px;
    }

    .filter-radio {
        margin-top: 0px;
    }

    .sorting {
        display: grid;
        gap: 0px;
    }

    .sort-radio {
        margin-top: 0px;
    }

    .input-box {
        width: 40vw;
    }
}

@media screen and (max-width: 490px) {
    .search-box {
        padding-left: 4px;
    }

    .filter-dropdown {
        width: 120px;
        font-size: 9px;
    }
}