body {
    background-color: black;
}

:root {
    --media_width: 250px;
    --media_borderradius: 15px;
    --row_increment: 10px;
}

.media_canvas {
    width: 95vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--media_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
}

.media_canvas button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    grid-row-end: auto;
}

.media_canvas img {
    vertical-align: bottom;
    width: 100%;
    border-radius: 15px;
}

.media_canvas video {
    vertical-align: bottom;
    width: 100%;
    border-radius: 15px;
}

