.modal-window {
position: fixed;
background-color: rgba(255, 255, 255, 0.25);
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 999;
visibility: hidden;
opacity: 0;
pointer-events: none;
transition: all 0.3s;
&:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

& > div {
    width: 348px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
}
header {
    font-weight: bold;
}
h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
}

.modal-close {
color: #aaa;
line-height: 50px;
font-size: 80%;
position: absolute;
right: 0;
text-align: center;
top: 0;
width: 70px;
text-decoration: none;
&:hover {
    color: black;
}
}

/* Demo Styles */
.container {
display: grid;
justify-content: center;
align-items: center;
height: 100vh;
}

.modal-window {
& > div {
    border-radius: 1rem;
    background-color: black;
}
}

.modal-window div:not(:last-of-type) {
margin-bottom: 15px;
}

.logo {
max-width: 150px;
display: block;
}

small {
color: lightgray;
}

.normal-button {
    text-decoration: none;
}

.blue-button {
    text-decoration: none;
}

.modal-button-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    & > .blue-button {
        background-color: #77D4F8;;
        border: none;   
        &:hover {
            background-color: #548B9F;
        }    
    }
    & > .normal-button {
        background-color: white;
        border: none;
        &:hover {
            background-color: #C7C7C7;
        }    
    } 
}

.text-question {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.text-desc {
    color: #FFF;
    font-size: 0.8rem;
    text-align: center;
}