.svg-container {
    display: flex;
    padding: 25px;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.relative-2 {
    position: absolute;
    z-index: 2;
}

.save-button {
    display: flex;
    justify-content: flex-end;
}

.blue-heart {
    fill: #77D4F8;
}

.card-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 45px;
    width: 63%;
    margin: auto;
    position: relative;
}

.card-1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.card-cover {
    max-width: 50%;
    min-width: 50%;
    height: 100%;
    position: relative;
}

.card-post {
    position: absolute;
    left: 0;
}

.card-image {
    position: relative;
}

.card-image img, 
.card-image video {
    width: 100%;
    min-height: 100%;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    display: flex;
    align-items: center;
}

.card-text-1 {
    width: 50%;
    padding: 25px;
    position: relative;
}

.go-back {
    background: transparent;
    fill: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.button-arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-circle {
    width: 49px;
    height: 49px;
    flex-shrink: 0;
    fill: black;
    background: black;
    position: relative;
    border-radius: 50%;
}

.button-circle:hover {
    background: #525252;
}

.post-time {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px;
}

.tags {
    color: #B7D7DF;
    cursor: pointer;
}

.tags:hover {
    text-decoration: underline;
}

.content-section {
    margin-top: 3%;
}

.genres {
    display: flex;
    gap: 10px;
}

.top-post-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    position: relative;
}

.edit-button {
    background-color: transparent;
    border: none;
    border-radius: 75%;
    cursor: pointer;
    position: absolute;
    right: 0%;
}

.desc-section {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}