.blue-button {
    width: 86px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 170px;
    background: #77D4F8;
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.black-rectangle {
    margin-top: 15px;
    width: 878px;
    height: 542px;
    flex-shrink: 0;
    border-radius: 45px;
    border: 1px solid #FFF;
    background: #000000;
    display: flex;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.svg-container {
    display: flex;
    padding: 25px;
    align-content: center;
    gap: 15px;
    justify-content: end;
    margin-bottom: 0;
}

.relative-2 {
    position: absolute;
    z-index: 2;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-black-rectangle {
    max-width: 50%;
    max-height: 100%;
    display: block; 
    border-radius: 45px 0 0 45px;
}

.heart-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px;
}

.padding-25 {
    padding: 25px 10px 10px 25px;
}

.save-button {
    display: flex;
    justify-content: flex-end;
}

.blue-heart {
    fill: #77D4F8;
}