.svg-container {
    display: flex;
    padding: 25px;
    gap: 10px;
}

.relative-2 {
    position: absolute;
    z-index: 2;
}

.save-button {
    display: flex;
    justify-content: flex-end;
}

.blue-heart {
    fill: #77D4F8;
}

.card-container {
    display: grid;
    grid-template-areas:
        'cardMedia cardDetails';
    margin-top: 10px;
    border: none;
    border-radius: 45px;
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
    background-color: #141414;
}

/* .card-1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
} */

.card-cover {
    position: relative;
    grid-area: cardMedia;
    width: 500px;
}

/* .card-post {
    position: absolute;
    left: 0;
} */

.card-image {
    position: relative;
}

.card-image img, 
.card-image video {
    width: 100%;
    height: 100%;
    border-radius: 45px;    
    display: flex;
    align-items: center;
}

.card-description {
    position: relative;
    width: 500px;
    padding: 15px;
}

.card-text-1 {
    height: 100%;
    width: 100%;
}

.go-back {
    background: transparent;
    fill: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
}

.button-arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-circle {
    width: 49px;
    height: 49px;
    flex-shrink: 0;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
}

.button-circle:hover {
    background: #525252;
}

.tags {
    color: #B7D7DF;
    cursor: pointer;
}

.tags:hover {
    text-decoration: underline;
}

.content-section {
    margin-top: 3%;
}

.genres {
    display: flex;
    gap: 10px;
}

.delete-button {
    cursor: pointer;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-button {
    cursor: pointer;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_profile_section {
    display: inline-flex;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
}

.card_profile_name_section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_media_description {
    height: 400px;
    overflow-y: auto;
}

.card_media_additional_desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1008px) {
    .card-container {
        grid-template-areas:
            'cardMedia'
            'cardDetails';
        height: auto;
        width: 500px;
        gap: 20px;
    }
}

@media screen and (max-width: 540px) {
    .card-container {
        width: 380px;
    }

    .card-cover {
        width: 380px;
    }

    .card-text-1 {
        width: 380px;
    }
}