.warn-show {
    display: block;
    color: red;
    font-size: 10px;
}

.warn-hide {
    display: none;
}

.signup-form-section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15%;
    text-align: left;
    justify-content: center;
}